@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pattaya&display=swap');
nav{
    width: 100%;
    max-height: 80px;
    position: fixed;
    transition: .3s ease-in-out;
    z-index: 5;
}
.navbar{
    background: rgb(0, 0, 0);
}
.nav-container{
    margin: auto;
    width: 90%;
}
.navbar-fixed{
    position: fixed;
    z-index: 50;
    background: #333;
    border-bottom: 1px solid #333;
    box-shadow: 0 3px 5px #333;
}
.logo{
    padding-top: 25px;
    float: left;
}
.logo h1{
    font-size: 35px;
    font-family: 'Pattaya', sans-serif;
    font-size: bold;
    color: orange;
}
@media screen and (max-width:942px){
    .bars{
        float: right;
        font-size: 30px;
        padding: 25px;
        color: rgb(255, 153, 0);
        background: transparent;
        border: none;
        outline: none;
    }
    .bars i:hover{
        cursor: pointer;
    }
    .nav-menu{
        display: none;
    }
}

@media screen and (min-width:942px){
    .bars{
        display: none;
    }
    .nav-menu{
        float: right;
        padding: 20px;
    }
    .nav-link{
        float: left;
        display: flex;
        padding: 10px 15px;
    }
    .nav-link:hover{
        cursor: pointer;
        transform: scale(1.1);
        font-weight: bold;
    }
    .nav-link a{
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
    }
    .nav-link a:hover{
        color: orange;
    }
}