$navbar-bg-color: var(--bg-primary);
$navbar-text-color: var(--text-primary);
$nav-item-hover-color: #ccc;
$sidebar-bg-color: var(--bg-secondary);

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $navbar-bg-color;
  padding: 1rem;

  .logo {
    color: $navbar-text-color;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-items {
    display: flex;
    
    // Hide hamburger button for larger screens
    .hamburger-menu {
      display: none;
    }
    .sidebar .close-btn {
      display: none;
    }

    // Display nav items for larger screens
    .nav-links {
      display: flex;

      a {
        color: $navbar-text-color;
        text-decoration: none;
        margin-left: 1rem;
        transition: color 0.3s;

        &:hover {
          color: $nav-item-hover-color;
        }
      }
    }
  }

}

// Media query for responsiveness
@media (max-width: 632px) {
  .navbar {
    .nav-items {
      // Display hamburger button for smaller screens
      .hamburger-menu {
        display: block;
        cursor: pointer;
        color: $navbar-text-color;
        font-size: 1.5rem;
      }
    }

    // Show nav items when mobile menu is open
    .sidebar {
      width: 0;
      
      &.open {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: $sidebar-bg-color;
        overflow-x: hidden;
        transition: all .4s ease-in-out;
        z-index: 100;

        .nav-links {
          display: flex;
          height: 100%;
          flex-direction: column;
          padding-top: 20%;
          align-items: center;
  
          a {
            color: $navbar-text-color;
            text-decoration: none;
            padding: 1rem;
            transition: color 0.3s;
  
            &:hover {
              color: $nav-item-hover-color;
            }
          }
        }

        .close-btn {
          display: block;
          color: red;
          font-size: 36px;
          position: absolute;
          right: 20px;
          top: 20px;
        }
      }
    }
  }
}
