.sidebar{
    width: 0;
    background: #000;
    height: 100vh;
    position: fixed;
    box-shadow: 2px 0px 2px #333;
    overflow-x: hidden;
    transition: all .8s ease-in-out;
    z-index: 5;
}
.open{
    width: 70%;
}
.sidebar .sidebar-menu ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 25px;
}
.sidebar .sidebar-menu ul li{
    width: 100%;
    text-align: center;
    color: #333;
    padding: 25px;
}
.sidebar-menu a{
    color: #fff;
}
.sidebar-menu li:hover{
    background: #333;
}