.footer{
    background: #333;
    color: #fff;
    /* height: 130px; */
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}
p a{
    /* padding: 0 20px; */
    font-size: 23px;
    text-decoration: none;
    color: rgb(245, 245, 79);
}
.footer .social-links{
    margin: auto;
}
