.App{
  background: #000;
}
.title{
  color: #fff;
  letter-spacing: 2;
  text-align: center;
}
.tagline{
  margin: 10px 0;
  font-style: oblique;
  text-align: center;
  color: grey;
}
.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
a{
  text-decoration: none;
}