$theme-map-light: (
    --primary-color: #0077FF,
    --bg-primary: #FFFFFF,
    --bg-secondary: #F8F8F8,
    --text-primary: #222222,
    --text-secondary: #333333,
    --text-tertiary: #666666,
    --border-color: #DDDDDD,
    --subtitle-primary: #0078FF,
    --subtitle-secondary: #E9EFFF,

);

$theme-map-dark: (
    --primary-color: blue
);