@import './themes';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import 'bootstrap/scss/bootstrap';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}

.hero-container {
	top: 62px;
	position: relative;
	height: calc(100vh - 3.875rem);

	.name-container {
		font-size: 3.75rem;
		line-height: 4.625rem;
		font-weight: 700;
	}
	
	.hero-image {
		width: 80%;
		aspect-ratio: 1 / 1;
	}

	@media (max-width: 768px) {
		.row {
			flex-wrap: wrap-reverse;
			text-align: center;

			.hero-image {
				width: 60%;
			}
		}
	}

	@media (max-width: 428px) {
		.name-container {
			font-size: 3rem;
			line-height: 3rem;
		}
	}
}
